/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    text-decoration: none;
    font-family: 'Questrial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 16px;
}

body {
    background-color: #fff;
}

.img-responsive {
    max-width: 100%;
}

header {
    position: relative;
    box-shadow: 0px 5px 4px 0px rgb(63 63 63 / 27%);
    width: 100%;
    background-color: #fff;
}

aside {
    min-height: 100vh;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #C2185B;
}

.btn-primary {
    background-color: #C2185B;
    border-color: #C2185B;
}

main.login {
    width: 400px;
}

section.full {
    width: 100%;
    min-height: 80vh;
    padding: 50px 0;
}

article.evento {
    width: 350px;
}

footer nav ul {
    list-style: none;
    display: flex;
}

footer nav ul li {
    padding: 10px;
}

/* MODAL */
/* main {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

#modal {
    width: 800px;
    height: 500px;
    background-color: #FFF;
    border-radius: 5px;
    margin: 100px auto;
    display: block;
}

.fechar {
    display: flex;
    justify-content: flex-end;
}

#fechar {
    border: #000000 solid 1px;
    padding: 5px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 28px 22px;
    border-radius: 50%;
    cursor: pointer;
}

.investimentos {
    display: flex;
}

h1 {
    color: #FF4081;
    font-size: 30px;
    margin: 0px 10px;
}

p {
    margin: 10px 20px 20px 10px;
    text-align: justify;
}

img {
    margin: 20px;
}

.link {
    margin-top: 400px;
    background-color: #C4C4C4;
    padding: 10px 30px;
    border-radius: 30px;
    color: #000;
    cursor: pointer;
    text-decoration: none;
} */